@media screen and (max-width:479px){
  .sect{
    width: 100%;
    font-size: 15px;
    margin-bottom: 0px;
  }
.section-tex{
  margin-top: 70px;
}
footer .getintouch{
  padding-top: 0px;
}
section{
  padding: 0px;
}
footer{
  position: static;
}

}
@media screen and (min-width:480px){
  .sect{

    width: 480px;
  }
  .section-tex{
    margin-top: 80px;
  }
  footer{
    padding: 0px;
  }
  footer .getintouch{
    padding-top: 0px;
    margin-top: 0px;
  }
  footer{
    position: static;
  }
  .contact-info{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width:768px){
  .sect{

    width: 768px;
  }
  .section-tex {
    margin-top: 80px;

  }
  footer{
    padding: 0px;
  }
  footer .getintouch{
    padding-top: 15px;
  }
  footer{
    position: static;
  }
  .contact-info{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width:1200px){
  .sect {
    width:1200px;

    }
    .th-right{
      display: block;
      margin-left: 200px;

    }
    thead tr th{
      font-size: 20px;
      font-weight: 700;
    }
    .section-tex {
      margin-top: 80px;

    }
    footer .getintouch{
      padding-top: 15px;
    }
    footer{
      position: static;
    }
    .contact-info{
      display: flex;
      justify-content: space-between;
    }

}
.sect {

  margin-right: auto;
  margin-left: auto;
    margin-bottom: 20px;
  }

.section-titl {

  position: sticky;
  top:80px;

  margin: 0;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  text-align: center;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.section-text {

  font-size: 18px;
  margin-bottom: 0;
}

.sect:nth-child(1) .section-titl {
  color: rgb(0, 0, 0);

}

.sect:nth-child(2) .section-titl{
  color: rgb(0, 0, 0);
}

.sect:nth-child(3) .section-titl {
  color: rgb(0, 0, 0);

}

.sect:nth-child(4) .section-titl {
  color: rgb(0, 0, 0);

}
footer{
padding-top: 0;
}
body{
  padding-bottom: 0px;
}
.row{
  padding-top: 15px;
}

.thead-inverse th {
  text-align: center;
  font-size: 20px;
  color:rgb(0, 0, 0);
  background-color: #37dbd3;
}
.thead-inverse{
  background-color: #37dbd3;
}

.table thead th{
  border-bottom: 0px;
}
.table td:last-child{
  text-align: right;
  font-weight: 600;
}