<!DOCTYPE html><html lang="ru"><head><title>SOVA dent</title><meta charset="UTF-8"><meta name="description" content="Nebro Portfolio Template"><meta name="keywords" content="onepage, portfolio"><meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Stylesheets --><link rel="stylesheet" href="font/stylesheet.css" /><link rel="stylesheet" href="css/style.css" /><!-- Font icons --><link rel="stylesheet" href="icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css" /><link rel="stylesheet" href="icon-fonts/flat-icon/flaticon.css" /><!-- Google Font --><link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap" rel="stylesheet"></head><body><!-- PRELOADER --><div id="preloader"><div class="loading-area"><div class="logo"><img src="img/logo.png" alt=""></div><span>loading...</span></div><div class="left-side"></div><div class="right-side"></div></div><!-- HEADER==================================================--><header><!-- Logo --><div class="logo"><img src="img/logo1.png" alt=""></div><div class="nav-icon"><span></span><span></span><span></span></div><!-- Navigation --><nav><ul><li><a href="#hero"><span data-hover="Начало">Начало</span></a></li><li><a href="#about"><span data-hover="О нас">О нас</span></a></li><li><a href="#services"><span data-hover="Услуги">Услуги</span></a></li><li><a href="#testimonials"><span data-hover="Сотрудники">Сотрудники</span></a></li><li><a href="#portfolio"><span data-hover="Портфолио">Портфолио</span></a></li><li><a href="#news"><span data-hover="News">News</span></a></li><li><a href="#contact"><span data-hover="Контакты">Контакты</span></a></li></ul></nav></header><div class="wrapper"><!-- SLIDER==================================================--><div class="hero" id="hero"><!-- Swiper --><div class="swiper-container carousel"><div class="swiper-wrapper"><!-- a slide --><div class="swiper-slide" style="background-image:url(img/slider-4.jpg)"><div class="slider-content"><!-- <span>Терапия</span>--><h1>Терапия.</h1><a href="#about" class="site-btn top_30">ПОЗВОНИТЬ</a></div></div><!-- a slide --><div class="swiper-slide" style="background-image:url(img/slider-1.jpg)"><div class="slider-content"><!-- <span>Пародонтология</span>--><h1>Протезирование.</h1><a href="#about" class="site-btn top_30">ПОЗВОНИТЬ</a></div></div><!-- a slide --><div class="swiper-slide" style="background-image:url(img/slider-3.jpg)"><div class="slider-content"><!-- <span>Хирургическая стоматология</span>--><h1>Хирургия.</h1><a href="#about" class="site-btn top_30">ПОЗВОНИТЬ</a></div></div><!-- a slide --><div class="swiper-slide" style="background-image:url(img/slider-2.jpg)"><div class="slider-content"><!-- <span>Эстетическая реставрация</span>--><h1>Реставрация.</h1><a href="#about" class="site-btn top_30">ПОЗВОНИТЬ</a></div></div></div><!-- Add Pagination --><div class="swiper-pagination"></div></div><!-- Swiper Container end --><!-- Social Links --><div class="social"><a href="#"><i class="fab fa-facebook"></i></a><!-- <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>--><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a><!-- <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>--></div></div><!-- ABOUT==================================================--><section id="about" class="about"><div class="container wow fadeInUp"><div class="row"><!-- Left Side --><div class="col-lg-7 text box-animation"><div class="section-title bottom_15 top_30"><h2 class="title">О нас</h2></div><p>Стоматологический кабинет «СоВа» в Харькове - это место,
где процедура лечения зубов максимально безболезненна и качественна,
цены доступные,
а сервис всегда на высоте. Коллектив нашей стоматологии делает все возможное,
чтобы придя к нам однажды - Вы и члены Вашей семьи нашли для себя лучшего и проверенного стоматолога на долгие годы. Мы стремимся оправдать оказанное доверие и сделать пребывание в наших стенах приятным. </p><a href="#portfolio" class="site-btn top_30">SEE PORTFOLIO</a></div><!-- Right Side --><div class="col-lg-5 image"><figure><img src="img/about.jpg"></figure></div></div><!-- row end --><div class="row top_60 infos"><div class="col-lg-4 info"><h3 class="second-title">Who we are</h3><p>Supplied directly pleasant we ignorant ecstatic of jointure so if. These spoke house of we. Ask put yet excuse person see change.</p></div><div class="col-lg-4 info"><h3 class="second-title">Our philosophy</h3><p>Why sir end believe uncivil respect. Always get adieus nature day course for common. My little garret repair to desire he esteem. </p></div><div class="col-lg-4 info"><h3 class="second-title">How we work</h3><p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity age. Better but length gay denied abroad are.</p></div></div></div><!-- container end --></section><!-- SERVICES==================================================--><section id="services" class="services graybg"><div class="container wow fadeInUp"><div class="section-title bottom_15 top_30"><h2 class="title">Our services.</h2><span>who we are</span></div><!-- Services --><div class="row"><!-- a service --><div class="col-lg-4"><div class="service"><i class="flaticon-041-computer"></i><h3 class="second-title">Web Design</h3><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state.</p></div></div><!-- a service --><div class="col-lg-4"><div class="service"><i class="flaticon-027-pencil"></i><h3 class="second-title">Design & Concept</h3><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state.</p></div></div><!-- a service --><div class="col-lg-4"><div class="service"><i class="flaticon-001-rgb"></i><h3 class="second-title">Social Media</h3><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state.</p></div></div><!-- a service --><div class="col-lg-4"><div class="service"><i class="flaticon-007-camera-roll"></i><h3 class="second-title">Photography</h3><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state.</p></div></div><!-- a service --><div class="col-lg-4"><div class="service"><i class="flaticon-034-video-camera"></i><h3 class="second-title">Video Edit</h3><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state.</p></div></div><!-- a service --><div class="col-lg-4"><div class="service"><i class="flaticon-038-origami"></i><h3 class="second-title">Seo Optimization</h3><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state.</p></div></div></div><!-- Counter --><div id="counter" class="top_90 counter"><div class="row"><div class="col-lg-4 col-md-4 count"><div class="counter-value" data-count="820">0</div><h4 class="title">SATISFACTION<br>CLIENTS</h4></div><div class="col-lg-4 col-md-4 count"><div class="counter-value" data-count="430">0</div><h4 class="title">EMPLOYEES<br>ONWORLDWIDE</h4></div><div class="col-lg-4 col-md-4 count"><div class="counter-value" data-count="940">0</div><h4 class="title">PROJECTS COMPLETEDON<br>60 COUNTRIES</h4></div></div><!-- row end --></div><!-- counter end --></div><!-- container end--></section><!-- TESTIMONIALS==================================================--><section class="testimonial" id="testimonials"><div class="container wow fadeInUp"><div class="section-title bottom_15 top_30"><h2 class="title">Testimonials.</h2><span>what the people saying about us</span></div><div class="owl-carousel owl-theme testimonials" data-autoplay="true" data-items-desktop="3" data-items-desktop-small="3" data-items-tablet="2" data-items-tablet-small="1" data-margin="30"><!-- a comment --><div class="item"><div class="outitem"><figure><img src="img/team-1.jpg"></figure><div class="name"><h3 class="title">Adam S. Benedetto</h3><span>Customer</span></div><p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in tavonline I made over 100,000 dollars profits. You guys rock!"</p></div></div><!-- a comment --><div class="item"><div class="outitem"><figure><img src="img/team-2.jpg"></figure><div class="name"><h3 class="title">Jean D. Costa</h3><span>Customer</span></div><p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in tavonline I made over 100,000 dollars profits. You guys rock!"</p></div></div><!-- a comment --><div class="item"><div class="outitem"><figure><img src="img/team-3.jpg"></figure><div class="name"><h3 class="title">Henry S. England</h3><span>Customer</span></div><p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in tavonline I made over 100,000 dollars profits. You guys rock!"</p></div></div><!-- a comment --><div class="item"><div class="outitem"><figure><img src="img/team-1.jpg"></figure><div class="name"><h3 class="title">Adam S. Benedetto</h3><span>Customer</span></div><p>"Thanks for the great service. It's the perfect solution for our business. Since I invested in tavonline I made over 100,000 dollars profits. You guys rock!"</p></div></div></div></div></section><!-- PORTFOLIO==================================================--><section id="portfolio" class="portfolio graybg"><div class="container wow fadeInUp"><div class="col-lg-12"><div class="section-title bottom_15 top_30"><h2 class="title">Our portfolio.</h2><span>what the people saying about us</span></div><!-- Filter --><div class="portfolio_filter"><ul><li><a class="select-cat" data-filter="*" href="#">All Works</a></li><li><a data-filter=".webdesign" href="#">Web Design</a></li><li><a data-filter=".branding" href="#">Branding</a></li><li><a data-filter=".application" href="#">Application</a></li></ul></div></div><!-- Portfolio --><div class="row masonry clearfix"><!-- a work --><a href="img/works/work-1/01.jpg" class="col-lg-4 col-sm-6 grid-item application lightbox-icon"><figure class="portfolio-item"><img src="img/works/work-1/01.jpg" alt="" /><figcaption><h3 class="title">Loud Website</h3><span>Website </span></figcaption></figure></a><!-- a work --><a href="project-detail.html" class="col-lg-4 col-sm-6 grid-item application lightbox-icon"><figure class="portfolio-item"><img src="img/works/work-2/01.jpg" alt="" /><figcaption><h3 class="title">Champion</h3><span>Branding </span></figcaption></figure></a><!-- a work --><a href="img/works/work-3/01.jpg" class="col-lg-4 col-sm-6 grid-item application lightbox-icon"><figure class="portfolio-item"><img src="img/works/work-3/01.jpg" alt="" /><figcaption><h3 class="title">Doddy App</h3><span>Application </span></figcaption></figure></a><!-- a work --><a href="img/works/work-4/01.jpg" class="col-lg-4 col-sm-6 grid-item photography lightbox-icon"><figure class="portfolio-item"><img src="img/works/work-4/01.jpg" alt="" /><figcaption><h3 class="title">Sol Republic</h3><span>Branding </span></figcaption></figure></a><!-- a work --><a href="img/works/work-5/01.jpg" class="col-lg-4 col-sm-6 grid-item branding lightbox-icon"><figure class="portfolio-item"><img src="img/works/work-5/01.jpg" alt="" /><figcaption><h3 class="title">Logo Design</h3><span>Branding </span></figcaption></figure></a><!-- a work --><a href="img/works/work-6/01.jpg" class="col-lg-4 col-sm-6 grid-item webdesign lightbox-icon"><figure class="portfolio-item"><img src="img/works/work-6/01.jpg" alt="" /><figcaption><h3 class="title">New Art Style</h3><span>Web Design </span></figcaption></figure></a></div><!-- masonry end --><div class="text-center load-more" data-wow-delay="0.2s"><button class="site-btn" data-tilt="">LOAD MORE <i class="icon ion-md-arrow-down"></i></button><ul id="pagination-selector" class="portfolio-pagination list-inline d-none"><li class="list-inline-item">1</li><li class="list-inline-item"><a href="page-2.html">2</a></li></ul></div></div><!-- container end --></section><!-- NEWSLETTER==================================================--><section class="newsletter imagebg text-center"><div class="container"><div class="section-title center bottom_15 top_30 bottom_45"><h2 class="title">Our newsletter.</h2><span>what the people saying about us</span></div><p>We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state. Pronounce we attention admitting on assurance of suspicion conveying</p><div class="col-lg-8 offset-lg-2"><input class="emailput" placeholder="Your email"></div><button type="submit" placeholder="SEND" href="#" class="site-btn top_30">SUBSCRIBE</button></div></section><!-- OUR NEWS==================================================--><section id="news" class="news"><div class="container wow fadeInUp"><div class="section-title bottom_15 top_30 bottom_45"><h2 class="title">Our news.</h2><span>what the people saying about us</span></div><div class="row"><!-- anews --><div class="col-lg-4"><a class="anews" href="single-news.html"><div class="image" style="background-image:url(img/news-1.jpg)"></div><div class="date"><h3 class="big">23</h3><span class="little">MARCH,
19</span></div><div class="category">LIFESTYLE</div><h2 class="title">Curiosity continual belonging offending so explained it exquisite...</h2></a></div><!-- anews --><div class="col-lg-4"><a class="anews" href="single-news.html"><div class="image" style="background-image:url(img/news-2.jpg)"></div><div class="date"><h3 class="big">26</h3><span class="little">MARCH,
19</span></div><div class="category">DESIGN</div><h2 class="title">Friendly as stronger speedily by recurred. Son interest wandered...</h2></a></div><!-- anews --><div class="col-lg-4"><a class="anews" href="single-news.html"><div class="image" style="background-image:url(img/news-3.jpg)"></div><div class="date"><h3 class="big">18</h3><span class="little">MARCH,
19</span></div><div class="category">PHOTOGRAPHY</div><h2 class="title">Manners beloved affixed picture men ask. Explain few led parties...</h2></a></div></div><div class="col-lg-12 text-center"><!-- <a href="news.html" class="site-btn top_30">LOAD MORE</a>--></div></div></section><!-- CONTACT==================================================--><section id="contact" class="contact graybg"><div class="container wow fadeInUp"><div class="section-title bottom_15 top_30 bottom_45"><h2 class="title">Contact us.</h2><span>get in touch</span></div><!-- Map --><div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36479.43458460815!2d-118.3131125302928!3d34.05808678462837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+Kaliforniya%2C+Birle%C5%9Fik+Devletler!5e0!3m2!1str!2str!4v1551872109031" height="450" style="border:0" allowfullscreen=""></iframe></div><div class="getintouch row top_120"><!-- contact info --><div class="col-lg-4 contact-info box-animation"><!-- info --><div class="info"><i class="fas fa-paper-plane"></i><a href="#">hello@gmail.com</a><p>Email </p></div><!-- info --><div class="info top_30"><i class="fas fa-map-marker-alt"></i><p class="text">ул. Героев Труда<br>Харьков</p><p>Адресс </p></div><!-- info --><div class="info top_30"><i class="fas fa-phone"></i><a href="#">067 214 8925</a><p>Телефон </p></div></div><div class="col-lg-8 contact-form box-animation"><!-- contact form --><form class="contact-form"><div class="row"><!--Name--><div class="col-md-6"><input class="form-inp" type="text" placeholder="Имя"></div><!--Email--><div class="col-md-6"><input class="form-inp" type="phone" placeholder="Телефон"></div><div class="col-md-12"><!--Message--><textarea placeholder="Чем можем вам помочь?" rows="7"></textarea><button id="con_submit" class="site-btn top_45 pull-right" type="submit">ОТПРАВИТЬ</button></div></div></form></div></div></div><!-- Container end --><div class="container wow fadeInUp"><!-- CLIENTS --><ul class="bxslider"><li><img src="img/clients/client-1w.png" /></li><li><img src="img/clients/client-2w.png" /></li><li><img src="img/clients/client-3w.png" /></li><li><img src="img/clients/client-4w.png" /></li><li><img src="img/clients/client-5w.png" /></li><li><img src="img/clients/client-6w.png" /></li><li><img src="img/clients/client-7w.png" /></li></ul></div></section></div><!-- FOOTER==================================================--><footer><div class="container"><div class="row"><!-- Copyright --><div class="col-lg-4 copyright"><a href="index.html"><img src="img/logo1.png" alt=""></a><!-- <p>© 2019 Nebro Creative Agency.</p>--></div><!-- Social --><div class="col-lg-4 ftr-social"><div class="social"><a href="#"><i class="fab fa-facebook"></i></a><!-- <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>--><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a><!-- <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>--></div></div><!-- Get In Touch --><div class="col-lg-4 getintouch"><h3 class="title">Get In Touch</h3><p>hi@yourdomain.com</p></div></div></div></footer><!-- Javascripts --><script src="js/jquery-2.1.4.min.js"></script><script src="js/plugins.js"></script><script src="js/main.js"></script></body></html>.slider-content span {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    position: relative;
    bottom: 5px;
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    display: inline-block;
}

.slider-content span:before {
    content: '';
    width: 40px;
    height: 3px;
    position: absolute;
    top: -17px;
}

.site-btn {
    display: inline-block;
    border: 0;
    font-weight: 600;
    padding: 13px 36px;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.site-btn:hover {
    color: #fff;
}

.slider-content .site-btn {
    margin-top: 30px;
    display: inline-block;
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

.swiper-slide-active .slider-content h1 {
    opacity: 1;
    transform: translateX(0);
    letter-spacing: 0px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all ease 0.3s 0.6s;
    -webkit-transition: all ease 0.3s 0.6s;
    -moz-transition: all ease 0.3s 0.6s;
    -ms-transition: all ease 0.3s 0.6s;
    -o-transition: all ease 0.3s 0.6s;
}

.swiper-slide-active .slider-content span {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all ease 0.3s 0.5s;
    -webkit-transition: all ease 0.3s 0.5s;
    -moz-transition: all ease 0.3s 0.5s;
    -ms-transition: all ease 0.3s 0.5s;
    -o-transition: all ease 0.3s 0.5s;
}

.swiper-slide-active .slider-content .site-btn {
    opacity: 1;
    transform: translateX(0);
    transition-property: transform, opacity;
    -webkit-transition-property: transform, opacity;
    -moz-transition-property: transform, opacity;
    -ms-transition-property: transform, opacity;
    -o-transition-property: transform, opacity;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-delay: .8s;
    -moz-transition-delay: .8s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    -ms-transition-delay: .8s;
}

.carousel .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.carousel .slider-content {
    text-align: center;
}

.carousel .slider-content span:before {
    content: '';
    width: 40px;
    height: 3px;
    position: absolute;
    /* top: -17px; */
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cover-slide.swiper-container {
    width: 100%;
    padding-top: 10vh;
}

.cover-slide .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 80%;
}

.hb-left {
    float: left;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 45px;
    left: 45px;
    z-index: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.text-rotate {
    overflow: hidden;
    position: relative;
    height: 20px;
    cursor: pointer;
}

.text-rotate span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
}

.text-rotate span {
    animation: move 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes move {
    0% {
        top: 0px;
    }
    50% {
        top: -20px;
    }
}

.section-title {
    padding-top: 30px;
    position: relative;
}

.section-title .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1px;
}

.section-title span {
    font-weight: 600;
    font-size: 18px;
}

.section-title:before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

section {
    padding: 90px 0;
}

.graybg {
    background: #f3f3f3;
}


/*------------------------ About Section Css ------------------------*/

.about {
    width: 100%;
}

.about .image figure img {
    width: 100%;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.about .image figure img:hover {
    box-shadow: 0px 0px 158px 0px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.about .text p {
    padding-right: 45px;
}

.second-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 13px;
}

.about .infos .info p,
.services .service p {
    font-size: 14px;
    line-height: 24px;
}

.service {
    background: #f3f3f3;
    padding: 30px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-top: 30px;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.service:hover {
    color: #fff;
}

.service i:before {
    font-size: 60px;
    margin-left: 0;
}

.service .second-title {
    margin-top: 30px;
}

.counter {
    border-top: solid 1px #dfdfdf;
    padding-top: 45px;
}

.counter-value {
    font-size: 52px;
    font-weight: 700;
    float: left;
}

.counter .title {
    font-size: 15px;
    float: left;
    line-height: 19px;
    padding-left: 13px;
    padding-top: 20px;
}

.testimonials .item {
    text-align: center;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 40px;
}

.testimonials .item figure img {
    max-width: 90px;
    margin: 0 auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.testimonials .item .name {
    margin: 30px 0px 6px;
}

.testimonials .item .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1px;
}

.testimonials .item span {
    font-size: 13px;
}

.testimonials .item p {
    font-size: 13px;
    line-height: 22px;
}

.testimonials .outitem {
    background: #efefef;
    padding: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.testimonials {
    padding: 30px 0;
}


/*------------------------ Portfolio ------------------------*/

.portfolio_filter {
    margin-top: 64px;
    float: right;
    margin-right: 25px;
}

.portfolio .site-btn {
    margin-top: 30px;
}

.masonry {
    width: 100%;
    display: inline-block;
}

.portfolio .section-title {
    float: left;
    padding-bottom: 45px;
}

.select-cat {
    font-weight: 600 !important;
}

.portfolio_filter ul {
    float: right;
}

.align-left .portfolio_filter ul {
    float: left;
}

.portfolio_filter ul li {
    list-style: none;
    float: left;
}

.portfolio_filter ul li a {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    margin-right: 30px;
}

.portfolio_filter ul li:last-child a {
    margin-right: 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.grid-item .portfolio-item img {
    width: 100%;
}

.grid-item .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.grid-item .portfolio-item figcaption {
    position: absolute;
    bottom: 0;
    text-align: left;
    color: #000;
    left: 35px;
    bottom: 30px;
    z-index: 1;
}

.grid-item .portfolio-item figcaption .title {
    font-size: 22.5px;
    font-weight: 600;
    margin: 0;
    line-height: 17px;
}

.grid-item .portfolio-item figcaption span {
    font-size: 10px;
    display: inline-block;
    color: #fff;
}

.grid-item.video-icon .portfolio-item:before {
    content: '\f04b';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 11px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: #000;
    padding: 17px 20px;
    border-radius: 50px;
    color: #fff;
}

.grid-item.link-icon .portfolio-item:before {
    content: '\f35d';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: #000;
    padding: 15px 18px;
    border-radius: 50px;
    color: #fff;
}

.grid-item.lightbox-icon .portfolio-item:before {
    content: '\f03e';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: #000;
    padding: 14px 18px;
    border-radius: 50px;
    color: #fff;
}


/* Hover */

.grid-item:hover .portfolio-item:before {
    z-index: 1;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.grid-item:hover>.portfolio-item figcaption {
    visibility: visible;
}

.grid-item:hover .portfolio-item figcaption .title {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transition: all ease 0.3s 0.4s;
    -webkit-transition: all ease 0.3s 0.4s;
    -moz-transition: all ease 0.3s 0.4s;
    opacity: 1;
}

.grid-item .portfolio-item figcaption span {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    opacity: 0;
}

.grid-item .portfolio-item figcaption .title {
    color: #fff;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transition: all ease 0.3s 0.1s;
    -webkit-transition: all ease 0.3s 0.1s;
    -moz-transition: all ease 0.3s 0.1s;
    opacity: 0;
}

.grid-item .portfolio-item:before {
    z-index: 1;
    transition: all ease 0.3s 0.2s;
    -webkit-transition: all ease 0.3s 0.2s;
    -moz-transition: all ease 0.3s 0.2s;
}

.grid-item .portfolio-item img {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.grid-item:hover .portfolio-item figcaption span {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    opacity: 1;
    transition: all ease 0.3s 0.53s;
    -webkit-transition: all ease 0.3s 0.53s;
    -moz-transition: all ease 0.3s 0.53s;
}

.grid-item:hover .portfolio-item img {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.grid-item .portfolio-item:after {
    content: '';
    background: rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease 0.3s 0.4s;
    -webkit-transition: all ease 0.3s 0.4s;
    -moz-transition: all ease 0.3s 0.4s;
    /*transform: translateX(-100%);*/
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    webkit-border-radius: 8px;
}

.grid-item:hover .portfolio-item:after {
    /*transform: translateX(0);*/
    opacity: 1;
    visibility: visible;
    transition: all ease 0.7s;
    -webkit-transition: all ease 0.7s;
    -moz-transition: all ease 0.7-s;
}

.subpage .section-title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
}

.dark .project-detail .section-title,
.dark .subpage .section-title {
    color: #fff;
}

.dark p,
.dark .next-link .nav-title,
.dark .next-link .next-title {
    color: #fff;
}

.categories-list {
    padding: 60px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.categories-list li {
    float: left;
    list-style: none;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.dark .categories-list li {
    color: #fff;
}

.dark .categories-list {
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
}

.categories-list li span {
    font-weight: 600;
}

.lightbox .image img {
    width: 100%;
}

.next-link {
    text-decoration: none;
    overflow: hidden;
    height: 54px;
    display: inline-block;
    margin: 120px auto 30px;
    width: 100%;
    text-align: center;
}

.next-link .next-title,
.next-link .nav-title {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

.next-link .nav-title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

.next-link .next-title {
    color: #000;
    font-size: 34px;
    font-weight: 600;
}

.next-link:hover .next-title,
.next-link:hover .nav-title {
    transform: translateY(-130%);
    -webkit-transform: translateY(-130%);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

.newsletter {
    position: relative;
    width: 100%;
    background: url(../img/bg-image.jpg) center center no-repeat fixed;
    background-size: cover;
}

.newsletter:before {
    content: '';
    background: rgba(0, 0, 0, 0.548);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.newsletter .section-title {
    margin-bottom: 23px;
    margin-top: 0;
}

.section-title.center {
    text-align: center;
}

.section-title.center:before {
    right: 0;
    margin: 0 auto;
}

.imagebg .section-title {
    color: #fff;
}

.imagebg span {
    color: rgba(255, 255, 255, 0.6);
}

.newsletter .emailput {
    width: 100%;
    padding: 21px;
    border: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 14px;
}

.newsletter .emailput {
    outline: 0;
}

.newsletter p {
    color: #fff;
    padding: 0 140px;
    margin-bottom: 30px;
    margin-top: 30px;
}


/*------------------------ News ------------------------*/

.anews {
    background: #efefef;
    border-radius: 8px;
    padding: 60px 40px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #000000;
    margin-bottom: 30px;
}

.anews:hover,
anews:focus {
    color: #000;
}

.anews .date {
    margin-bottom: 45px;
}

.anews .date .big {
    font-size: 70px;
    font-weight: 800;
    line-height: 38px;
}

.anews .date .little {
    font-size: 13px;
    font-weight: 600;
}

.anews .title {
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 26px;
    line-height: 32px;
}

.anews .category {
    font-weight: 700;
    line-height: 52px;
}

.anews:hover>.image {
    opacity: 1;
}

.anews .image {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    transition: opacity ease 0.4s;
    -webkit-transition: opacity ease 0.4s;
    -moz-transition: opacity ease 0.4s;
    -ms-transition: opacity ease 0.4s;
    -o-transition: opacity ease 0.4s;
}


/* news article */

.subpage {
    padding-top: 160px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
}

input.inp {
    width: 100%;
    margin-bottom: 30px;
    border: solid 3px #212121;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 54px;
    font-size: 13px;
    padding-left: 15px;
    outline: 0;
}

textarea.form-message {
    width: 100%;
    margin-bottom: 30px;
    border: solid 3px #212121;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    font-size: 13px;
    padding: 15px;
    outline: 0;
}

.news-article .article-image img {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}

.news-article .title {
    font-size: 45px;
    font-weight: bold;
    padding: 10px 0;
}

.news-article .information {
    font-size: 13px;
    color: #000;
}

.dark .news-article .information,
.dark .news-article .title,
.dark .news-article blockquote,
.subtitle,
.article-comments .comment-content .title {
    color: #fff;
}

.dark .article-comments .comment {
    border-bottom: solid 1px #2d2d2d;
}

.dark input.inp,
.dark textarea.form-message {
    border: solid 3px #ffffff;
    background: #000;
}

.dark input.inp:placeholder {
    color: #fff;
}

.news-article .information span {
    color: #adadad;
}

.news-article p {
    line-height: 30px;
}

.news-article .category {
    font-weight: bold;
}

.article-lightbox figure img {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.news-article blockquote {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.article-comments .comment {
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 30px;
}

.article-comments .comment:last-child {
    border: none;
}

.article-comments .comment.reply {
    padding-left: 60px;
}

.article-comments .comment figure img {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}

.article-comments .comment-content .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.article-comments .comment-content .date {
    color: #818080;
    font-size: 13px;
}

.article-comments .comment-content p {
    color: #818080;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;
}

.article-comments .comment-content .reply {
    font-size: 13.5px;
}

.article-comments .comment-content .reply:hover {
    text-decoration: none;
    color: #000;
    transition: all ease 0.3s;
}

.article-comments .comment-content .reply:before {
    content: "\f3e5";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    margin-right: 7px;
    font-size: 13.5px;
}

.article-video iframe {
    width: 100%;
    height: 470px;
}

.article-slider img {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
}


/*------------------------ Contact ------------------------*/

.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
}

.getintouch .contact-info .info i,
.getintouch .contact-info .info a,
.getintouch .contact-info .info p {
    color: #000;
    display: block;
}

.getintouch .contact-info .info i {
    font-size: 26px;
    margin-bottom: 20px;
}

.getintouch .contact-info .info p {
    font-size: 14px;
    margin-top: 6px;
    opacity: .6;
    font-weight: 300;
}

.getintouch .contact-info .info a {
    font-size: 15px;
    font-weight: 500;
}

.getintouch .contact-info .info p.text {
    opacity: 1;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0;
}

.form-inp {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 100%;
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 45px;
}

.form-inp::placeholder,
textarea::placeholder,
.emailput::placeholder {
    color: #000;
}

.contact-form textarea {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 100%;
    color: #000;
    font-size: 15px;
}

.form-inp:focus,
.contact-form textarea:focus {
    border-bottom: solid 2px #000;
}

textarea::placeholder,
.form-inp::placeholder {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

footer {
    position: fixed;
    background: #000;
    border-top: solid 1px #212121;
    padding: 70px 0;
    bottom: 0;
    width: 100%;
}

footer .copyright img {
    max-height: 70px;
}

.copyright p {
    font-size: 13px;
    opacity: .7;
    color: #fff;
    margin-bottom: 0;
}

.ftr-social {
    text-align: center;
}

.ftr-social .social {
    margin-top: 15px;
}

.ftr-social .social a {
    background: rgba(255, 255, 255, 0.15);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    width: 41px;
    margin-right: 10px;
    font-size: 14px;
}

.ftr-social .social a:hover {
    background: rgba(255, 255, 255, 0.30);
    transform: rotate(360deg);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

footer .getintouch .title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

footer .getintouch {
    text-align: right;
}

footer .getintouch p {
    font-size: 13px;
    opacity: .7;
    color: #fff;
    line-height: 15px;
    margin-bottom: 0;
}

.dark,
.dark .wrapper {
    background: #000;
}

.dark .about .text p,
.dark .section-title .title,
.dark .second-title,
.dark .about .infos .info p,
.dark .services .service p,
.dark .service i:before,
.dark .counter-value,
.dark .testimonials .item p,
.dark .testimonials .item .title,
.dark .getintouch .contact-info .info i,
.dark .getintouch .contact-info .info a,
.dark .getintouch .contact-info .info p,
.dark .anews .date,
.dark .anews .title,
.dark textarea::placeholder,
.dark .form-inp::placeholder,
.dark .portfolio_filter ul li a {
    color: #fff;
}

.graybg .testimonials .outitem,
.graybg .anews,
.graybg .service {
    background: #fff;
}

.dark .counter {
    border-top: solid 1px #2b2b2b;
}

.dark .graybg {
    background: #191919;
}

.dark .graybg .service {
    background: #000;
}

.dark .service {
    background: #191919;
}

.dark .testimonials .outitem {
    background: #191919;
}

.dark .anews {
    background: #2b2b2b;
}

.dark .graybg .testimonials .outitem,
.dark .graybg .anews {
    background: #000;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bx-wrapper {
    border-top: solid 1px #dfdfdf;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding-top: 20px;
    margin-top: 90px;
    box-shadow: none;
    background: none;
    margin-bottom: 0;
}

.dark .bx-wrapper {
    border-top: solid 1px #5f5f5f;
}

.contact {
    padding-bottom: 20px;
}


/*------------------------ Color ------------------------*/

.slider-content span:before,
.site-btn,
.section-title:before,
.swiper-pagination-bullet-active {
    background: #ff0e2a;
}

.section-title span,
.counter .title,
.testimonials .item span,
.anews .category,
.article-comments .comment-content .reply,
.news-article .category {
    color: #ff0e2a;
}

.service:hover {
    background: #ff0e2a !important;
}

.site-btn:hover {
    background: #e80000;
}

.nav-icon {
    display: none;
}


/*------------------------ Responsive ------------------------*/

@media screen and (min-width: 1680px) {
    .container {
        width: 1250px;
    }
}

@media screen and (max-width: 1024px) {
    header nav {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    .nav-icon {
        display: inline;
    }
    header.open>nav {
        height: auto;
        visibility: visible;
        opacity: 1;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
    }
    header nav ul li {
        float: none;
        margin: 0;
    }
    header.open>nav {
        text-align: center;
        background: #000;
        position: absolute;
        width: 100%;
        top: 69px;
        left: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        line-height: 30px;
    }
    .slider-content h1 {
        font-size: 100px;
        line-height: 110px;
    }
    .section-title .title {
        font-size: 35px;
    }
    .counter-value {
        font-size: 40px;
        font-weight: 700;
        float: left;
    }
    .counter .title {
        padding-top: 11px;
    }
    .news-article .title {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .news-article {
        margin-bottom: 90px;
    }
    .comment figure img {
        display: none;
    }
    .comment.reply.top_45 {
        margin-top: 0;
    }
    .comment.reply {
        padding-left: 0 !important;
    }
    .slider-content h1 {
        font-size: 80px;
        line-height: 90px;
    }
    .about .text {
        margin-bottom: 90px;
    }
    .counter-value {
        font-size: 30px;
    }
    .counter .title {
        padding-top: 8px;
        font-size: 11px;
        line-height: 14px;
        padding-left: 7px
    }
    .portfolio_filter {
        margin-top: 0;
        float: left;
        margin-bottom: 30px;
    }
    .portfolio .section-title {
        padding-bottom: 8px;
    }
    .newsletter p {
        padding: 0 60px;
    }
    .anews {
        margin-bottom: 30px;
    }
    .contact-form {
        margin-top: 50px;
    }
    body {
        padding-bottom: 340px;
    }
    footer {
        padding: 40px 0;
    }
    .copyright {
        text-align: center
    }
    footer .getintouch {
        text-align: center;
        margin-top: 31px;
    }
    .ftr-social {
        text-align: center;
        margin: 10px 0;
    }
    .ftr-social .social a:last-child {
        margin-right: 0;
    }
    .about .info {
        margin-bottom: 30px;
    }
    .about .info:last-child {
        margin-bottom: 0;
    }
    .news-article .title {
        font-size: 30px;
        line-height: 38px;
    }
}

@media screen and (max-width: 480px) {
    .slider-content h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .slider-content span {
        font-size: 15px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 110px;
        display: none;
    }
    .hero .social {
        left: 39px;
        right: 0;
        text-align: left;
    }
    .about .text p {
        padding-right: 5px;
    }
    .infos {
        margin-top: 30px;
    }
    .count {
        display: inline;
        width: auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .site-btn {
        padding: 10px 33px;
    }
    .hero .social a {
        margin-left: 0;
        margin-right: 15px;
    }
    section {
        padding: 40px 0;
    }
    .anews .title {
        font-weight: 600;
        letter-spacing: 0px;
        font-size: 19px;
        line-height: 29px;
    }
    .anews .category {
        font-size: 13px;
    }
    .anews .date {
        margin-bottom: 25px;
    }
    .hero .static-image .slider-content {
        transform: translateX(-63px);
    }
    .hero .static-image+.social {
        left: auto;
        right: 26px;
        text-align: left;
    }
    .news-article .title {
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    .hero .static-image+.social {
        display: none;
    }
    .slider-content h1 {
        font-size: 40px;
        line-height: 50px;
    }
}